SUPABASE_URL=https://qwtaswyypfmeakdfyhnm.supabase.co/rest/v1/
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF3dGFzd3l5cGZtZWFrZGZ5aG5tIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTk5NDM4NCwiZXhwIjoyMDg3NTcwMzg0fQ.XViB7guYlRHQg-r6dlG2eWD7nlvMIKlAtNF9SJ6xfYs
PORT=3001
